body, html  {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 15px;
  line-height: 1.73;
  color: #2d2f33;
  font-family: 'Source Sans Pro', sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: 'Titillium Web', sans-serif;
}
h1, .h1 {
  font-size: 56px;
  line-height: 1.21;
  font-weight: 200;
}
h2, .h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.36;
  margin-top: 10px;
  margin-bottom: 20px;
}
p {
  margin-bottom: 0px;
}
.text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 1.73;
  color: #3f4142;
  margin-bottom: 25px;
}
a {
  outline: none !important;
  text-decoration: none !important;
}
ul, ol{
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
  list-style: none;
}
.wrapper_page {
  position: relative;
}
.circle_top {
  position: absolute;
  left: 0px;
  top: 5%;
  z-index: 0;
}
.circle_bottom_left {
  position: absolute;
  left: 0px;
  bottom: 0;
  z-index: 0;
}
.circle_bottom_right {
  position: absolute;
  right: 0px;
  bottom: 5%;
  z-index: 0;
}
.top_block {
  margin-top: 80px;
}
.header {
  background-image: url(../img/bg/bg_top.png);
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
  z-index: 2;
}
.wrapper_ofer {
  padding: 25px 50px 35px;
  background-color: #07142B;
  background-image: url('../img/bg/bg_offer.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
.offer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #333333;
  font-family: 'Titillium Web', sans-serif;
  text-align: left;
}
.text_offer {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.36;
  color: #ffffff;
  text-align: center;
}
.center_block {
  text-align: center;
}
.new_price {
  font-size: 24px;
  line-height: 1.58;
  color: #ffffff;
  border-radius: 100px;
  background-color: #f5c729;
  width: 68px;
  height: 68px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.old_price {
  font-size: 18px;
  font-weight: 300;
  line-height: 2.11;
  color: #ffffff;
}
.right_text_offer {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #ffffff;
}
.wrapper_top_img {
  text-align: right;
  margin-left: -70px;
  margin-right: -55px;
  margin-bottom: 140px;
}
.top_img {
  display: inline-block;
}
.ultra_boost {
  background-color: #ffffff;
  padding: 25px 40px 31px;
  margin-bottom: 25px;
  margin-top: 40px;
  box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid #f5c729;
  text-align: center;
}
.ultra_boost_title {
  font-size: 28px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  line-height: 1.36;
  margin-bottom: 20px;
}
.wrapper_blue {
  padding: 0px 7px 2px;
  border: 2px solid #eff0f5;
  background-color: #ffffff;
  border-radius: 12px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.73;
  color: #3fbbf1;
}
/* Navigation */
#tf-menu.navbar-default {
  background-color: transparent;
  border: none;
  border-radius: 0px;
}
#tf-menu .navbar-right {
  margin-bottom: -3px;
}
#tf-menu.navbar-default .navbar-nav > li > a {
  padding: 30px 0px 0px;
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 0.2px;
  text-align: left;
  color: #222222;
}
#tf-menu.navbar-default .navbar-nav > li {
  margin-right: 60px;
}
#tf-menu.navbar-default .navbar-nav > li:last-child {
  margin-right: 0px;
}
#tf-menu .navbar-brand {
  float: none;
  display: inline-block;
}
#tf-menu .nav>li>a:focus, 
#tf-menu .nav>li>a:hover {
  color: #222222;
  opacity: 0.7;
}
#tf-menu.navbar-default .navbar-nav > .active > a, 
#tf-menu.navbar-default .navbar-nav > .active > a:hover, 
#tf-menu.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  border-bottom: 2px solid #57d9fa;
}
.navbar-toggle {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:active {
  background-color: transparent;
  border-color: #57d9fa;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #57d9fa !important;
}
.navbar-default .navbar-toggle:hover > .icon-bar,
.navbar-default .navbar-toggle:focus > .icon-bar,
.navbar-default .navbar-toggle:active > .icon-bar {
  background-color: #57d9fa !important;
}
.wrapper-content {
  margin-top: 55px;
  margin-bottom: 90px;
  position: relative;
  z-index: 21;
}
.inner_container {
  box-shadow: 0px -30px 30px 0px rgba(0, 0, 0, 0.06);
  padding-top: 40px;
  border-top: 3px solid #3fbbf1;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 30px;
  margin-top: -210px;
  background: #ffffff;
  position: relative;
}
.advert {
  margin-bottom: 40px;
}
.item_advert {
  display: inline-block;
  margin-right: 25px;
  font-size: 15px;
}
.item_advert:last-child {
  border-right: none;
}
.item_advert img {
  margin-right: 20px;
}
.top_icons {
  margin-top: 75px;
  margin-bottom: 80px;
  display: inline-flex;
}
.line-through {
  text-decoration: line-through;
}
#aside1 {
  margin-bottom: 10px;
}
.sticky {
  position: fixed;
  top: 10px !important;
  z-index: 101;
  transition: all 0.8s;
}
.stop {
  position: relative;
  z-index: 101;
  margin-bottom: 30px;
}
.sticky .right-block,
.stop .right-block {
  padding: 0px 0px 20px 0px;
}
.stop .right-block {
  box-shadow: 0px 0px 0px 1px #dddddd;
}
.right-block {
  box-shadow: 0px 5px 10px 0px #dddddd;
  padding: 0px 0px 35px 0px;
  transition: all 0.6s;
  background-color: #ffffff;
  position: relative;
}
.inner-right_block {
  padding-left: 40px;
  padding-right: 40px;
}
.inner-right_block .h2 {
  font-family: 'Titillium Web', sans-serif;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.36;
  margin-top: 15px;
  margin-bottom: 10px;
}
.wrapper_right-img {
  text-align: center;
  padding-bottom: 10px;
  position: relative;
}
.valid_block {
  position: absolute;
  right: 35px;
  top: 25px;
  font-family: 'SourceSansPro', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.73;
  color: #ffffff;
  border-radius: 3px;
  background-color: #f5c729;
  padding: 2px 5px;
}
.right-img {
  display: inline-block;
}
.pulse {
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px #dddddd;
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #339ae6;
  }
  50% {
      -webkit-box-shadow: 0px 0px 5px 5px #339ae6;
  }
  100% {
      -webkit-box-shadow: 0px 0px 0px 0px #339ae6;
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0px 0px 0px 0px #339ae6;
    box-shadow: 0px 0px 0px 0px #339ae6;
  }
  50% {
      -moz-box-shadow: 0px 0px 5px 5px #339ae6;
      box-shadow: 0px 0px 5px 5px #339ae6;
  }
  100% {
      -moz-box-shadow: 0px 0px 0px 0px #339ae6;
      box-shadow: 0px 0px 0px 0px #339ae6;
  }
}
* {
  box-sizing: border-box;
}
/* Animation */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  45% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.8;
  }
  45% {
    -webkit-transform: scale(1.75);
            transform: scale(1.75);
    opacity: 0;
  }
}
@-webkit-keyframes stop-pulsate {
  from {
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
@keyframes stop-pulsate {
  from {
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}
/* Button */
.btn-pulse .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  margin: -0.666em auto auto -0.666em;
  border-radius: 50%;
  opacity: 0.6;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  transition: opacity .2s ease-in, -webkit-transform .1s ease-out;
  transition: opacity .2s ease-in, transform .1s ease-out;
  transition: opacity .2s ease-in, transform .1s ease-out, -webkit-transform .1s ease-out;
  color: #fff;
  font-size: 1.5em;
  padding: 0;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
}
.btn-pulse .circle:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn-pulse .circle:active {
  -webkit-transform: scale(0.875);
          transform: scale(0.875);
}
.btn-pulse .ring {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.2em;
  height: 2.2em;
  margin: -1.1em auto auto -1.1em;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-radius: 50%;
  border: 1px solid #ed0048;
  opacity: 0;
  -webkit-animation: pulsate 3s ease-out infinite;
          animation: pulsate 3s ease-out infinite;
}
.btn-pulse:hover .ring {
  -webkit-animation: none;
          animation: none;
}
.btn-pulse:active .ring {
  -webkit-animation: stop-pulsate 0.3s;
          animation: stop-pulsate 0.3s;
}
#totop {
  position: fixed;
  bottom: 25px;
  right: 10px;
  z-index: 999;
  background: #fff;
  display: none;
  height: 36px;
  width: 36px;
  padding: 4px;
  text-align: center;
  line-height: 28px;
  font-size: 2em;
  color: #f8ee99;
  opacity: 0.6;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: 1px solid #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
#totop .demo-icon {
  color: #000;
  margin: 0;
}
.img-logo {
  transition: all 0.8s;
  max-width: 260px;
  display: inline-block;
}
.btn {
  white-space: normal;
  outline: none !important;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
}
.btn:active, .btn.active {
  outline: 0 !important;
}
.btn-yellow,
.btn-yellow:focus {
  padding: 9px 15px;
  transition: all 0.3s;
  width: 100%;
  line-height: 1.73;
  text-align: center;
  color: #ffffff;
  border: 2px solid #3fbbf1;
  background-color: #3fbbf1;
}
.btn-yellow.color-black:focus {
  color: #222222;
}
.btn-yellow:hover {
  color: #3fbbf1;
  background-color: transparent;
}
.btn-transparent {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.86;
  letter-spacing: 0.1px;
  color: #222222;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  min-width: 100px;
  transition: all 0.3s;
  background-color: #ffffff;
  padding-left: 35px;
  padding-right: 35px;
  border: 2px solid #eff0f5;
}
.icon-facebook,
.icon-twitter,
.icon-link {
  color: #3fbbf1;
}
.wrapper_soc {
  margin-right: 20px;
}
.wrapper_soc:last-child {
  margin-right: 0px;
}
.social_text {
  margin-left: 20px;
  color: #3f4142;
}
.btn-transparent:hover {
 background-color: #e9f5fa;
}
.navbar-collapse {
  border: none !important;
}
/* Footer */
#footer {
  border-top: 1px solid #eeeff4;
  border-bottom: 3px solid #f5c729;
  position: relative;
  z-index: 20;
}
.wrapper_logo_footer {
  float: left;
  display: inline-block;
  margin-top:15px;
}
.wrapper_nav {
  display: inline-block;
}
.top_footer {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
#footer .navbar-nav {
  float: none;
}
#footer .navbar-nav > li {
  float: none;
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
}
#footer .navbar-nav > li > a,
.copyright {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 0.2px;
  text-align: right;
  color: #222222;
  background: none !important;
  padding-top: 20px;
  padding-bottom: 20px;
}
.copyright {
  float: right;
}
#footer .navbar-nav > li > a:hover {
  opacity: 0.8;
}
.flouting {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 18px;
  padding: 8px 11px;
  border-radius: 100px;
  background-color: rgba(238, 49, 62, 0.8);
  height: 50px;
  width: 50px;
  z-index: 1;
}
.flouting .demo-icon {
  color: #ffffff;
}
.close {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px 13px;
  z-index: 21;
  border-radius: 6px;
  opacity: 1;
  text-shadow: none;
  color: #2d2f33 !important;
  font-weight: 400;
} 
/* /Footer */
/* Special Classes */
.clearfix {
  clear: both;
}
.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
   clear: both;
}
.clearfix {
   *zoom: 1;
}
.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
  outline: thin dotted;
  outline: none;
  outline-offset: none;
}
.align-items-center {
  -ms-align-items: center;
  align-items: center;
}
.d-flex {
  display: flex;
}
.wrapper_top_block {
  margin-top: 5px;
}
.color-white {color: #ffffff !important;}
.color-black {color: #2d2f33;}
.fw-700 {font-weight: 700;}
.fs-18 {font-size: 18px;}
.fs-italic {font-style: italic;}
.p-0 {padding: 0px;}
.pl-20 {padding-left: 20px;}
.pr-20 {padding-right: 20px;}
.mt-0 {margin-top: 0px !important;}
.mb-0  { margin-bottom: 0px;}
.mb-15 { margin-bottom: 15px;}
.mb-40 { margin-bottom: 40px;}
.mt-35 { margin-top: 35px;}
.mt-50 { margin-top: 50px;}
/* /Special Classes */
@media (max-width: 1300px) {
  .wrapper_top_img {
    margin-right: -15px;
    margin-bottom: 220px;
  }
}
@media (min-width: 1300px) {
  .container {width: 1200px;}
  .container-big {width: 1280px;}
}
@media (min-width: 992px) {
  .wrapper-right-block {
     display: block!important;
   }
}
@media (max-width: 1200px) {
  .top_img {margin-bottom: -295px;}
  .inner-right_block {
    padding-left: 20px;
    padding-right: 20px;
  }
  .inner_container {
    margin-top: -70px;
  }
}
@media (max-width: 991px) {
  .wrapper_right-img {
    padding-bottom: 10px;
  }
  .inner-right_block .h2 {
    margin-top: 10px;
  }
  .logo_footer {
    max-width: 180px;
  }
  #aside1 > div {
    width: 350px !important;
  }
  .right-block {
    height: 100%;
    float: right;
    text-align: center;
  }
  .sticky {
    position: static;
    max-width: 365px;
    width: 100% !important;
    float: right;
  }
  .header {
    margin-bottom: 50px;
    padding-bottom: 20px;
  }
  #tf-menu {
    padding: 0px;
  }
  .pl-20 {padding-left: 15px;}
  .pr-20 {padding-right: 15px;}
  .sticky {position: static;}
  .flouting {
    display: block;
  }
  .open .flouting {
    display: none;
  }
  #totop {
    display: none !important;
  }
  .close {
    display: inline-block;
  }
  .wrapper-right-block {
    position: fixed;
    top: 10px;
    right: 5px;
    z-index: 1001;
    display: none;
    height: 100%;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #tf-menu.navbar-default .navbar-nav > li {
    margin-right: 25px;
  }
  .wrapper-content {
    margin-top: 0px;
  }
  .top_block {
    margin-top: 50px;
    text-align: center;
  }
  h1, .h1 {
    font-size: 36px;
  }
  .advert {
    margin-top: 40px;
  }
  .wrapper_top_img {
    display: none;
  }
  .wrapper_soc .btn-transparent {
    border: 2px solid #e5e5e5;
  }
  .img-logo {
    max-width: 180px;
  }
  #tf-menu .navbar-brand {
    padding-top: 30px;
  }
  .wrapper_logo_footer,
  .wrapper_nav {
    text-align: center;
    float: none;
    display: block;
  }
  .copyright {
    text-align: center;
    float: none;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (max-width: 767px) {
  .img-logo {
    max-width: 110px;
  }
  .container-big {
    padding: 0px;
  }
  .row-mob {
    margin-left: 0px;
    margin-right: 0px;
  }
  .inner_container {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .offer .d-flex,
  .offer {
    display: block;
  }
  .top_icons {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .header {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .wrapper_top_block {
    margin-top: 0px;
  }
  .top_block {
    margin-top: 0px;
  }
  .advert {
    margin-top: 30px;
  }
  .ultra_boost {
    padding: 25px 30px;
    margin-top: 20px;
  }
  .ultra_boost .text,
  .ultra_boost_title,
  .text_offer,
  .top_block,
  #tf-menu.navbar-default .navbar-nav > li > a {
    text-align: center;
  }
  #tf-menu .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #tf-menu.navbar-default .navbar-nav > li > a {
    padding: 10px 0px 5px;
  }
  #tf-menu.navbar-default .navbar-nav > li:first-child > a {
    padding-top: 20px
  }
  #tf-menu.navbar-default .navbar-nav.navbar-right > li:first-child > a {
    padding-top: 10px
  }
  #tf-menu .navbar-right {
    margin-bottom: 0px; 
  }
  .wrapper_nav {
    float: none;
    text-align: center;
  }
  .wrapper-content {
    margin-bottom: 10px;
  }
  #tf-menu.navbar>.container .navbar-brand {
    padding-top: 12px;
  }
  h1, .h1 {
    font-size: 32px;
  }
  h2, .h2 {
    font-size: 24px;
  }
  #footer .navbar-nav > li > a {
    padding: 10px 5px;
  }
  #tf-menu.navbar-default .navbar-nav > li {
    margin-right: 0px;
  }
  .wrapper_nav .d-flex {
    display: block;
  }
  .wrapper_ofer {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .right_text_offer {
    display: block;
    text-align: center;
  }
  .center_block {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 639px) {
  .mt-50 { margin-top: 20px;}
  #footer .navbar-nav > li {
    margin-right: 0px;
  }
  .wrapper_soc {
    margin-right: 15px;
  }
}
@media (max-width: 479px) {
  .wrapper_soc .btn-transparent {
    min-width: 60px;
  }
  .advert {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 10px;
  }
  .item_advert {
    width: 100%;
    float: none;
    border-right: none;
    border-bottom: 1px solid #ebeff5;
    margin-right: 0px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .item_advert:last-child {
    border-bottom: none;
  }
  .social_text {
    display: none;
  }
}
@media (max-width: 374px) {
  #aside1 > div {
    max-width: 310px !important;
  }
  h1, .h1 {
    font-size: 24px;
  }
}
